# Driver List
<% @drivers.each do |driver| %>
  <p>- <%= driver.name %> (<%= driver.phone %>) <%= driver.place %></p>
<% end %>

# Favorite
<% if !@fav_drivers.nil? %>
  <% @fav_drivers.each do |fav_driver| %>
    <p>- <%= fav_driver.name %> (<%= fav_driver.phone %>) <%= fav_driver.place %></p>
  <% end %>
<% end %>
